/* Laptop L*/
@media only screen and (max-width: 1249px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .morebtn {
      display: none;
    }
  }

  .left {
    display: none;
  }

  .rightcontainer {
    margin-top: 70px;
  }
}

/* Laptop */
@media only screen and (max-width: 991px) {
  .header {
    display: flex;
    flex-direction: row;

    .morebtn {
      display: inline-block;
    }
  }

  .left {
    display: none;
  }

  .rightcontainer {
    margin-top: 70px;
  }

  .first-section-icons {
    display: none;
  }

  .menu_show {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: #fbf5f5;
  }

  .tasks-card {
    width: 100%;
  }

  .spinnerbtn {
    display: none;
  }
}

/* Tablet */
@media only screen and (max-width: 767px) {
  .container{
    width: 100%;
  }
  .header {
    display: flex;
    flex-direction: row;

    .morebtn {
      display: inline-block;
    }
  }

  .left {
    display: none;
  }

  .rightcontainer {
    margin-top: 70px;
  }

  .first-section-icons {
    display: none;
  }

  .menu_show {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: #fbf5f5;
  }

  .options {
    width: 100%;
    height: fit-content;
  }

  .options-content-left a,
  .options-content-right a {
    display: none;
  }

  .options-content-left i,
  .options-content-right i {
    display: block;
  }

  .pp-card-header {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-performance-card {
    height: fit-content;
  }

  .pp-card-contents {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .options-content-mid {
    flex-direction: column;
    text-align: center;
  }

  .tasks-card {
    width: 100%;

    .tasks-card-header {
      flex-direction: column;
      align-items: center;
      height: fit-content;
    }

    .tasks-card-header img {
      display: none;
    }

  }

  .spinnerbtn {
    display: none;
  }

  .stat-card {
    height: fit-content;
  }

  .stat-card-sections {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}

/* Mobile */

@media only screen and (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;

    .morebtn {
      display: inline-block;
    }
  }

  .left {
    display: none;
  }

  .rightcontainer {
    margin-top: 70px;
  }

  .first-section-icons {
    display: none;
  }

  .menu_show {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: #fbf5f5;
  }

  .options {
    width: 100%;
    height: fit-content;
  }

  .options-content-left a,
  .options-content-right a {
    display: none;
  }

  .options-content-left i,
  .options-content-right i {
    display: block;
  }

  .pp-card-header {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-performance-card {
    height: fit-content;
  }

  .pp-card-contents {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .options-content-mid {
    flex-direction: column;
    text-align: center;
  }

  .tasks-card {
    width: 100%;

    .tasks-card-header {
      flex-direction: column;
      align-items: center;
      height: fit-content;
    }

    .tasks-card-header img {
      display: none;
    }

  }

  .spinnerbtn {
    display: none;
  }

  .stat-card {
    height: fit-content;
  }

  .stat-card-sections {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}