/* Laptop L*/
@media only screen and (max-width: 1249px) and (min-width:991px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .more-btn {
      display: none;
    }
  }

  .left {
    display: none;
  }

  .right-container {
    margin-top: 70px;
    width: 100%;
  }

}

/* Laptop */
@media only screen and (max-width: 991px) and (min-width:768px) {
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .more-btn {
      display: inline-block;
    }
  }

  .left {
    display: none;
  }

  .right-container {
    margin-top: 70px;
    width: 100%;
  }

  .first-section-icons {
    display: none;
  }

  .menu_show {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: #fbf5f5;
  }

  .tasks-card {
    width: 100%;
  }

  .spinner-btn {
    display: none;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) and (min-width:425px) {

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .more-btn {
      display: inline-block;
    }
  }

  .left {
    display: none;
  }

  .right-container {
    margin-top: 70px;
    width: 100%;
  }

  .first-section-icons {
    display: none;
  }

  .menu_show {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: #fbf5f5;
  }

  .options {
    width: 100%;
    height: fit-content;
  }

  .options-content-left a,
  .options-content-right a {
    display: none;
  }

  .options-content-left i,
  .options-content-right i {
    display: block;
  }

  .pp-card-header {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-performance-card {
    height: fit-content;
  }

  .pp-card-contents {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .options-content-mid {
    flex-direction: column;
    text-align: center;
  }

  .view-report {
    width: auto;
    height: fit-content;
  }

  .tasks-card {
    width: 100%;

    .tasks-card-header {
      flex-direction: column;
      align-items: center;
      height: fit-content;
    }

    .tasks-card-header img {
      display: none;
    }

  }

  .spinner-btn {
    display: none;
  }

  .stat-card {
    height: fit-content;
  }

  .stat-card-sections {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}

/* Mobile */

@media only screen and (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .more-btn {
      display: inline-block;
    }
  }

  .left {
    display: none;
  }

  .right-container {
    margin-top: 70px;
    width: calc(100% - 40px);
  }

  .first-section-icons {
    display: none;
  }

  .menu_show {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    width: auto;
    background-color: #fbf5f5;
  }

  .view-report {
    width: auto;
    height: fit-content;
  }

  .options {
    width: auto;
    height: fit-content;
  }

  .options-content-left a,
  .options-content-right a {
    display: none;
  }

  .options-content-left i,
  .options-content-right i {
    display: block;
  }

  .pp-card-header {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio-performance-card {
    height: fit-content;
  }

  .pp-card-contents {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .options-content-mid {
    flex-direction: column;
    text-align: center;
  }

  .tasks-card {
    .tasks-card-contents {
      width: auto;

    }

    .tasks-card-header {
      flex-direction: column;
      align-items: center;
      height: fit-content;
    }

    .tasks-card-header img {
      display: none;
    }

  }

  .spinner-btn {
    display: none;
  }

  .stat-card {
    height: fit-content;
  }

  .stat-card-sections {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    height: fit-content;
    padding: 10px;
  }

  #textbox {
    width: 40px;
    font-size: 12px;
  }
}